%html
  %head
    %link(rel="stylesheet" type="text/css"){ :href => url("/css/jquery.jqplot.css")}
    %link(rel="stylesheet" type="text/css"){ :href=>url("/css/analytics.css")}
  %body
    = haml :banner
    #visit-history(style="height:200px;width:800px; ")
    //= VisitHistory.new($db).message
    = RecentTops.new($db).render
    = VisitHistory.new($db).render
    .key= markdown(:top_key)
    = haml :js
    %script(type="text/javascript"){:src => url("/js/analytics.js")}